.header {
	max-width: 880px;
	padding-top: 45px;
	margin: 0 auto;
	border: 1px rgba(84, 84, 84, 0.7);
	border-style: none none solid none;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 880px) {
	.header {
		max-width: 650px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		max-width: 320px;
		padding-top: 28px;
		margin: 0 auto;
	}
}
