.profile__info {
	max-width: 336px;
	display: grid;
	grid-template-columns: 1fr 24px;
	row-gap: 16px;
	column-gap: 17px;
	align-content: center;
}

@media screen and (max-width: 767px) {
	.profile__info {
		max-width: 282px;
		justify-content: center;
		row-gap: 7px;
		grid-template-columns: 1fr 18px;
		column-gap: 10px;
	}
}
